@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@media screen and (max-width:575px){
    iframe {
            width: 290px !important;
            height: auto;
        }
}
/* .max-w-md{
    width: 35rem !important;
} */
